/* ----------------- RESOURCES -----------------*/

/*
 ----------- TYPOGRAPHY -----------
  font-family: "Roboto Serif", serif;
   font-family: "Montserrat", sans-serif;

   FONT WEIGHT
   350 / 600

   LINE HEIGHT
   1.6 / 1.3

   LETTER SPACING
   0 / -0.5

   FONT SIZE
   16PX / 60PX

    ----------- COLORS -----------
    BACKGOUND COLOR
    BASE= #283618
    TINT= #7e8674
    SHADE= #18200e

    PRIMARY COLOR
    BASE= #fefae0
    TINT= #fffdf3
    SHADE= #989686

    SECONDARY COLOR
    BASE= #bc6c25
    TINT= #d7a77c
    SHADE= #714116

    GRAY COLOR
    BASE= #adb5bd
    TINT= #ced3d7
    SHADE= #45484c
 */

/* ----------------- GLOBAL STYLES-----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #141b0c;
  font-weight: 350;
  text-align: center;
}
section {
  margin-bottom: 5rem;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  font-family: "Roboto Serif", serif;
  font-weight: 600;
}
p {
  color: #adb5bd;
  line-height: 1.6;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  border-radius: 20px;
}
input,
textarea,
label {
  font-size: 1rem;
}
/* ----------------- COMPONENTS -----------------*/
.main-container {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}
.main {
  max-width: 1300px;
  margin: 0 auto;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8rem;
  cursor: pointer;
}
.btn-primary {
  background-color: #fefae0;
  border: 1px solid #fefae0;
  color: #45484c;
  transition: 0.5s;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid #fefae0;
  color: #fff;
  transition: 0.5s;
}
.secondary-component {
  background: linear-gradient(45deg, #714116, #bc6c25, #d7a77c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-container {
  margin-bottom: 2rem;
}

/* ----------------- NAV BAR -----------------*/
.header {
  background-color: #ffffff27;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #7e86747c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.nav-menu {
  font-size: 1.5rem;
}
.nav-logo {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-style: italic;
  background: linear-gradient(45deg, #45484c, #adb5bd, #ced3d7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-link {
  color: #d7a77c;
}
.nav-items {
  display: none;
}
.nav-btn {
  display: none;
}
/* ----------------- HERO SECTION -----------------*/
.hero-section {
  text-align: center;
  margin-bottom: 10rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.hero-component {
  color: #fff;
  background-color: #7e8674;
  font-size: 0.6rem;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  box-shadow: 0px 1px 10px #7e8674;
  max-width: 300px;
  margin-bottom: 1rem;
}

.hero-para {
  line-height: 1.6;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}
.hero-btn-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.hero-img {
  border-bottom-right-radius: 200px;
  max-width: 300px;
}

/* ----------------- ABOUT SECTION -----------------*/

.about-content-container {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}
.text-container {
  padding: 1rem;
  margin-bottom: 1rem;
  max-height: 170px;
  overflow: hidden;
  text-align: left;
  transition: max-height 0.5s;
}
.text-container.expanded {
  max-height: 300px;
}
.about-img {
  max-width: 500px;
}

/* ----------------- SKILL SECTION -----------------*/
.skill-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
}
.skill-card {
  background-color: #283618;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
.card-title-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1.5rem;
}
.skill-logo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 1px 1px 10px #7e8674;
  background-color: #fff;
}
.card-para-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.rating {
  color: #0bcf0b;
  text-shadow: 1px 1px 10px #60f860;
}
.rate {
  background-color: #fff;
  border-radius: 50px;
}
.rate-child {
  border-radius: 50px;
  height: 10px;
  background-color: #714116;
  width: 90%;
}
.css {
  width: 85%;
}
.frame-work {
  width: 80%;
}
.java {
  width: 50%;
}

/* ----------------- MY SERVICES SECTION -----------------*/
.service-card {
  background-color: #283618;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  text-align: left;
  margin: 1.5rem;
  box-shadow: 2px 2px 20px #283618;
}
.service-card-icon-container {
  background-color: #7e8674;
  padding: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #18200e;
}
.service-card-icon {
  font-size: 5rem;
}
/* ----------------- PROJECT SECTION -----------------*/

.project-card-container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
.project-card {
  height: 600px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  background-color: #283618;
  border-radius: 20px;
  margin-bottom: 2rem;
  transition: 1s;
}
.project-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 50%;
}
.project-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.project-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/* ----------------- CONTACT SECTION -----------------*/

form {
  background-color: #7e8674;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 1px 1px 20px;
}
#form {
  display: grid;
  grid-template-columns: 1fr;
}
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 0.3rem;
}
input {
  width: 100%;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 50px;
}
#message {
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.form-btn {
  border: none;
}
/* ----------------- FOOTER SECTION -----------------*/
.footer {
  background-color: #283618;
  padding: 1rem;
  border-top: 1px solid #ffffff5e;
}
.footer-logo {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-style: italic;
  background: linear-gradient(45deg, #45484c, #adb5bd, #ced3d7);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  text-align: left;
  padding: 2rem;
  border-bottom: 1px solid #18200e;
}
.footer-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.footer-title {
  font-size: 0.9rem;
}
.footer-para {
  font-size: 0.8rem;
}
.footer-icon,
#footer-icon {
  font-size: 1.5rem;
  color: #fefae0;
}
.footer-link {
  color: #ced3d7;
  font-size: 0.8rem;
}

/* ----------------- MEDIA QUERY -----------------*/
@media (min-width: 633px) {
  /* COMPONENTS */
  .title-container {
    margin-bottom: 3rem;
  }

  /* NAV BAR */
  .header {
    margin-bottom: 10rem;
  }
  .nav-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .nav-btn {
    display: flex;
  }
  /* HERO SECTION */

  .hero-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .hero-content {
    align-items: start;
    text-align: left;
  }
  .hero-component {
    margin: 0;
  }
  .hero-para {
    padding: 0;
    max-width: 700px;
  }
  /* ABOUT SECTION */
  .about-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: flex-start;
  }
  .about-img- {
    width: 100%;
  }
  .about-img-container {
    grid-row: 1/1;
    grid-column: 1/1;
  }
  /* SKILL SECTION */
  .skill-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  #java {
    grid-column: 1 / span 2;
  }
  /* SERVICE SECTION */
  .service-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* PROJECT SECTION */
  .project-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  /* CONTACT */
  #form {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  form {
    text-align: left;
  }
  /* FOOTER */
  .footer-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin: 2rem 2rem;
  }
  .footer-first {
    text-align: left;
  }
  .footer-icon-container {
    justify-content: flex-start;
  }
}
@media (min-width: 1024px) {
  section {
    margin-bottom: 10rem;
  }
  .nav-items {
    display: flex;
    gap: 1rem;
  }
  .nav-link {
    color: #fff;
  }
  .nav-menu {
    display: none;
  }
  .title-container {
    margin-bottom: 5rem;
  }
  .service-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  /* HOVER STATES */
  .btn-primary:hover {
    background-color: #989686;
    border: 1px solid #989686;
    color: #fff;
    transform: scale(1.1, 1.2);
    box-shadow: 0px 2px 5px #ced3d7;
  }
  .btn-secondary:hover {
    transform: scale(1.1, 1.2);
    box-shadow: 0px 2px 5px #ced3d7;
  }
  .nav-link:hover {
    color: #bc6c25;
  }
  .project-card:hover {
    transform: scale(1.05, 1.05);
  }
  .footer-link:hover {
    color: #989686;
    transform: scale(1.05, 1.05);
  }
  .footer-icon:hover {
    color: #989686;
    transform: scale(1.05, 1.05);
  }
  #footer-icon:hover {
    color: #989686;
    transform: scale(1.05, 1.05);
  }
}
