/* ----------------- RESOURCES -----------------*/

/*
 ----------- TYPOGRAPHY -----------
  font-family: "Roboto Serif", serif;
   font-family: "Montserrat", sans-serif;

   FONT WEIGHT
   350 / 600

   LINE HEIGHT
   1.6 / 1.3

   LETTER SPACING
   0 / -0.5

   FONT SIZE
   16PX / 60PX

    ----------- COLORS -----------
    BACKGOUND COLOR
    BASE= #283618
    TINT= #7e8674
    SHADE= #18200e

    PRIMARY COLOR
    BASE= #fefae0
    TINT= #fffdf3
    SHADE= #989686

    SECONDARY COLOR
    BASE= #bc6c25
    TINT= #d7a77c
    SHADE= #714116

    GRAY COLOR
    BASE= #adb5bd
    TINT= #ced3d7
    SHADE= #45484c
 */

/* ----------------- GLOBAL STYLES-----------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #141b0c;
  font-weight: 350;
  text-align: center;
}
section {
  margin-bottom: 5rem;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  font-family: "Roboto Serif", serif;
  font-weight: 600;
}
p {
  color: #adb5bd;
  line-height: 1.6;
}
a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  border-radius: 10px;
}
/* ----------------- COMPONENTS -----------------*/
.page-container {
  max-width: 1600px;
  width: 95%;
  margin: 0 auto;
}
.btn {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: 800;
  font-size: 0.8rem;
}
.btn-primary {
  background-color: #fefae0;
  border: 1px solid #fefae0;
  color: #45484c;
}
.btn-secondary {
  background-color: transparent;
  border: 1px solid #fefae0;
  color: #fff;
}
.secondary-component {
  background: linear-gradient(45deg, #714116, #bc6c25, #d7a77c);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ----------------- NAV BAR -----------------*/
.header {
  background-color: #ffffff27;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid #7e86747c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.nav-menu {
  font-size: 1.5rem;
}
.nav-logo {
  font-family: "Roboto Serif", serif;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-style: italic;
}
.nav-items {
  display: none;
}
.nav-btn {
  display: none;
}
/* ----------------- HERO SECTION -----------------*/
.hero-section {
  text-align: center;
}
.hero-component {
  color: #fff;
  background-color: #7e8674;
  font-size: 0.6rem;
  text-align: center;
  padding: 0.5rem 0.5rem;
  border-radius: 50px;
  margin: 0rem 1rem 1rem 1rem;
  box-shadow: 0px 1px 10px #7e8674;
  max-width: 300px;
}
.hero-title {
  margin-bottom: 1rem;
}
.hero-para {
  line-height: 1.6;
  margin-bottom: 1rem;
  padding: 0rem 1rem;
}
.hero-btn-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}

/* ----------------- ABOUT SECTION -----------------*/
.title-container {
  margin-bottom: 1rem;
}
.about-content-container {
  margin-bottom: 2rem;
}
.about-para-container {
  padding: 1rem;
  margin-bottom: 1rem;
  height: 170px;
  overflow: hidden;
  text-align: left;
}
